<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> School Portal </title>
</head>

<body>
	<h2> School Portal </h2>
	<a href="/"> Home </a> |
	<a href="/about"> About </a> |
	<a href="/contact"> Contact </a> |
	<a href="/student">Student</a>
	
	<hr>
	
	<h3 th:text="${title}"> </h3>
	<p th:text="${message}"> </p>
	

	<p th:if="${name}">
	    <b>Name :</b> <span th:text="${name}"></span>
	</p>
	<p th:if="${course}">
	    <b>Course :</b> <span th:text="${course}"></span>
	</p>
	<p th:if="${semester}">
	    <b>Semester :</b> <span th:text="${semester}"></span>
	</p>
	<p th:if="${college}">
	    <b>College :</b> <span th:text="${college}"></span>
	</p>
	
</body>
</html>