<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Welcome</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body class="welcome-body">

<div class="welcome-card">

    <h1>Login Successful 🎉</h1>

    <p>
        Welcome to the Spring Boot Login Validation Project.
    </p>

    <p>
        Your credentials have been validated successfully using
        backend validation and custom exceptions.
    </p>

    <a th:href="@{/}" class="btn">
        Logout
    </a>

</div>

</body>
</html>