<div th:fragment="topbar" class="topbar">
    <div>
        <h3 class="mb-0">Admin Dashboard</h3>
        <small class="text-muted">Smart Asset Management System</small>
    </div>

    <div class="topbar-right">
        <span class="status-badge badge-success">System Online</span>

        <div class="topbar-user">
            <span>Admin</span>
            <i class="bi bi-person-circle fs-4"></i>
        </div>

        <a href="/logout" class="btn btn-sm btn-outline-danger logout-btn">
            Logout
        </a>
    </div>
</div>